<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
  </head>
  <body>

    <header>
      <h1>Mystery Word</h1>
    </header>

        <form action="/" method="POST">

          <p>You have {{guessCount}} guesses left.</p>

          <input type="text" name="chooseLetter" />
          <input type="submit" id="guessSubmit" value="Make a guess" />

          <p>Letters guessed: {{lettersGuessed}}</p>

        </form>



  </body>
</html>
